.terms{
  &__title{
    @include rubikRegular();
    @include pageTitle();
  }
  &__subtitle{
    @include rubikRegular();
    @include pageSubTitle();
  }
  &__wrap{
    @include pageWrap();
  }
  &__content{
    @include pageContent();
    p{
      @include paragraph();
    }
  }
  &__left{
    @include pageLeft();
    a{
      @include tabsLink();
      @include rubikMedium();
      @extend .transition-color;
    }
  }
  &__right{
    @include pageRight();
    .item{
      @include pageItem();
    }
    a{
      @include pageRightLink();
    }
    li{
      @include pageRightList();
    }
  }
  .arrow{
    @include arrow();
  }
}

@media (max-width: 768px) {
  .terms-tabs{
    &.opened{
      overflow: visible;
      .arrow{
        z-index: 1;
      }
    }
    .arrow{
      z-index: 3;
      position: absolute;
      right: 28px;
      top: 25px;
      display: block;
    }
    ul{
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #F5F7FB;
    }
    li{
      text-align: left;
      &.active{
        a{
          color: #747A9D;
        }
      }
    }
  }

}
