/* Common */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Rubik:300,400,500|Montserrat:300,400,700");

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Roboto */
/* Rubik */
/* Montserrat */
.box {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.transition-all {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.transition-color {
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
}

.transition-bg-color {
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
}

.transition-transform {
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    width: 100%;
    min-height: 100%;
}

html body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #18235A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    body .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    body .container {
        max-width: 1140px;
    }
}

.about {
    position: relative;
    background: radial-gradient(at 31.47% 91.09%, #02B2FF 0%, #1185EB 34.41%, #5869FF 70.4%, #7983FF 100%);
    padding-bottom: 200px;
}

@media (max-width: 768px) {
    .about {
        padding-bottom: 125px;
    }
}

.about:after {
    max-width: 1422px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    content: '';
    height: 524px;
    background: url("../img/illustration.png") no-repeat center bottom/100%;
}

@media (max-width: 768px) {
    .about:after {
        left: 0;
        transform: none;
        height: 394px;
        background: url("../img/illustration768.png") no-repeat center bottom/100%;
    }
}

@media (max-width: 320px) {
    .about:after {
        height: 302px;
        background: url("../img/illustration320.png") no-repeat center bottom/100%;
    }
}

.about .container {
    position: relative;
}

@media (max-width: 768px) {
    .about .container {
        padding: 0;
    }
}

.about__top {
    padding-top: 160px;
    padding-bottom: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .about__top {
        padding: 140px 15px 90px;
    }
}

@media (max-width: 480px) {
    .about__top {
        padding-top: 90px;
        padding-bottom: 0;
    }
}

.about__top__image {
    width: 245px;
    margin: 55px auto 15px;
}

@media (max-width: 480px) {
    .about__top__image {
        width: 160px;
        margin: 35px auto;
    }
}

.about__top__title {
    font-size: 46px;
    letter-spacing: -1.81579px;
    color: #ffffff;
    line-height: 1.22;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

@media (max-width: 480px) {
    .about__top__title {
        font-size: 36px;
    }
}

.about__top__title span {
    white-space: nowrap;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
}

.about__top__name {
    font-size: 36px;
    letter-spacing: -1.42105px;
    color: #ffffff;
    line-height: 1.22;
}

@media (max-width: 480px) {
    .about__top__name {
        font-size: 24px;
    }
}

.about__content__image {
    z-index: 1;
    position: relative;
    display: block;
    max-width: 1043px;
    margin: 0 auto;
    width: 100%;
}

.about__content__image768 {
    z-index: 1;
    position: relative;
    max-width: 100%;
    width: 100%;
    display: none;
}

.about__content__image320 {
    display: none;
    z-index: 1;
    position: relative;
    max-width: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .about__content__image {
        display: none;
    }

    .about__content__image768 {
        display: block;
    }
}

@media (max-width: 480px) {
    .about__content__image320 {
        width: 306px;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 93px;
    }

    .about__content__image768 {
        display: none;
    }
}

/*# sourceMappingURL=styles.css.map */
