/* Common */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Rubik:300,400,500|Montserrat:300,400,700");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Roboto */
/* Rubik */
/* Montserrat */
.box {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; }

.transition-all {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; }
.transition-color, .terms__left a {
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out; }
.transition-bg-color {
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out; }
.transition-transform {
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear; }

* {
  box-sizing: border-box; }

html {
  position: relative;
  width: 100%;
  min-height: 100%; }
  html body {
    position: relative;
    width: 100%;
    height: 100%; }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #18235A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      body .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      body .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      body .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      body .container {
        max-width: 1140px; } }

.terms__title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #00A1FB;
  font-size: 36px;
  padding-bottom: 12px;
  letter-spacing: -1px; }
  .terms__title + .item {
    margin-bottom: 35px; }
  @media (max-width: 768px) {
    .terms__title + div p {
      font-size: 15px;
      line-height: 22px;
      text-align: left; } }
  @media (max-width: 320px) {
    .terms__title {
      font-size: 24px; } }
.terms__subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(19, 24, 72, 0.88);
  padding-bottom: 15px; }
.terms__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 893px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .terms__wrap {
      display: block; } }
.terms__content {
  padding-top: 60px;
  padding-bottom: 70px; }
  @media (max-width: 768px) {
    .terms__content {
      padding-top: 0; }
      .terms__content .container {
        max-width: 100%;
        padding: 0; } }
  @media (max-width: 320px) {
    .terms__content {
      padding-bottom: 60px; } }
  .terms__content p {
    color: #747A9D;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify; }
    .terms__content p strong {
      color: rgba(19, 24, 72, 0.88);
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit; }
.terms__left {
  width: 258px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .terms__left li {
    list-style: none;
    text-align: right; }
    .terms__left li.active a {
      color: #00A1FB; }
  .terms__left .arrow {
    display: none; }
  @media (max-width: 768px) {
    .terms__left {
      position: relative;
      width: 100%;
      height: 60px;
      margin-bottom: 30px;
      overflow: hidden;
      background-color: #F5F7FB; }
      .terms__left li {
        padding: 0 28px;
        line-height: 60px;
        cursor: pointer; }
      .terms__left .arrow {
        display: block; } }
  @media (max-width: 320px) {
    .terms__left {
      height: 40px; }
      .terms__left li {
        line-height: 40px;
        padding: 0 15px; } }
  .terms__left a {
    text-decoration: none;
    font-size: 13px;
    line-height: 36px;
    color: #747A9D;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 500; }
    .terms__left a:hover {
      color: #00A1FB; }
.terms__right {
  padding-left: 50px; }
  @media (max-width: 768px) {
    .terms__right {
      padding-left: 28px;
      padding-right: 28px; } }
  @media (max-width: 320px) {
    .terms__right {
      padding-left: 15px;
      padding-right: 15px; } }
  .terms__right .item {
    margin-bottom: 23px; }
    .terms__right .item:last-child {
      margin-bottom: 0; }
  .terms__right a {
    text-decoration: underline;
    color: #00A1FB;
    font-weight: inherit;
    font-size: inherit; }
    .terms__right a:hover {
      text-decoration: none; }
  .terms__right li {
    color: #747A9D;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    list-style-position: inside; }
.terms .arrow {
  width: 18px;
  height: 10px;
  background: url("../img/arrow.svg") no-repeat center/100%;
  cursor: pointer; }

@media (max-width: 768px) {
  .terms-tabs.opened {
    overflow: visible; }
    .terms-tabs.opened .arrow {
      z-index: 1; }
  .terms-tabs .arrow {
    z-index: 3;
    position: absolute;
    right: 28px;
    top: 25px;
    display: block; }
  .terms-tabs ul {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5F7FB; }
  .terms-tabs li {
    text-align: left; }
    .terms-tabs li.active a {
      color: #747A9D; } }

/*# sourceMappingURL=styles.css.map */
