// Colour Pallette
$colorDefault: #F5F7FB;
$colorPrimary: #06A8FA;
$colorPrimaryLight: #D8F7FF;
$colorDangerous: #FF151F;
$colorSuccess: #44DB5E;

// Text Colours
$colorTextPrimary: #18235A;
$colorTextSecondary: rgba($colorTextPrimary, 0.6);
$colorTextTertiary: rgba($colorTextPrimary, 0.3);
$colorTextDefault: rgba(#fff, 0.3);
$colorTextGold: #DDBB65;

// Gradient
$gradPrimary: radial-gradient(0% 145%, #9497FF 0%, #4E61FF 100%);
$gradGold: linear-gradient(-134deg, #E2C476 0%, #EED186 44%, #C3A555 100%);
$gradCommonRight: linear-gradient(-90deg, #02B2FF 0%, #1184EA 97%);
$gradCommonTop: radial-gradient(26% -3%, #02B2FF 16%, #1185EB 90%, #1184EA 100%);
$gradCommonLeft: linear-gradient(78deg, #02B2FF 16%, #1184EA 96%);