/* Roboto */
$fontRoboto: 'Roboto', sans-serif;

@mixin robotoRegular() {
  font-family: $fontRoboto;
  font-weight: 400;
}

@mixin robotoLight() {
  font-family: $fontRoboto;
  font-weight: 300;
}
@mixin robotoBold() {
  font-family: $fontRoboto;
  font-weight: 700;
}
/* Rubik */
$fontRubik: 'Rubik', sans-serif;

@mixin rubikRegular() {
  font-family: $fontRubik;
  font-weight: 400;
}

@mixin rubikMedium() {
  font-family: $fontRubik;
  font-weight: 500;
}


@mixin rubikLight() {
  font-family: $fontRubik;
  font-weight: 300;
}


/* Montserrat */
$fontMontserrat: 'Montserrat', sans-serif;

@mixin MontserratBold() {
  font-family: $fontMontserrat;
  font-weight: 700;
}

@mixin MontserratRegular() {
  font-family: $fontMontserrat;
  font-weight: 400;
}

@mixin MontserratLight() {
  font-family: $fontMontserrat;
  font-weight: 300;
}